# ╔════════════════════════════════╗
# ║  Gdisk v2.0 - LINUX LIVE BOOT  ║
# ╚════════════════════════════════╝

if loadfont /boot/grub/font.pf2 ; then
    set gfxmode=auto
    insmod gfxterm
    insmod video_bochs
    insmod video_cirrus
    terminal_output gfxterm
fi
insmod png
background_image -m stretch /boot/grub/theme/gdisk-linux.png
set timeout=5
set default=0
set theme=/boot/grub/theme/theme-linux-live.cfg
set color_normal=white/black
set color_highlight=white/black

### Live Boot Entries ###

menuentry "Bonsai Linux - Live" {
    linux /bonsai-live/vmlinuz boot=live live-media-path=/bonsai-live config quiet splash
    initrd /bonsai-live/initrd.img
}
menuentry "Bonsai Linux - Boot to RAM" {
    linux /bonsai-live/vmlinuz boot=live live-media-path=/bonsai-live config quiet splash toram=filesystem.squashfs
    initrd /bonsai-live/initrd.img
}
menuentry "Bonsai Linux - Encrypted Persistence" {
    linux /bonsai-live/vmlinuz boot=live live-media-path=/bonsai-live components quiet splash persistent=cryptsetup persistence-encryption=luks persistence
    initrd /bonsai-live/initrd.img
}
menuentry "Bonsai Linux - Unencrypted Persistence" {
    linux /bonsai-live/vmlinuz boot=live live-media-path=/bonsai-live components quiet splash persistence
    initrd /bonsai-live/initrd.img
}
menuentry "Bonsai Linux - Boot to RAM with Encrypted Persistence" {
    linux /bonsai-live/vmlinuz boot=live live-media-path=/bonsai-live components quiet splash toram=filesystem.squashfs persistent=cryptsetup persistence-encryption=luks persistence
    initrd /bonsai-live/initrd.img
}
menuentry "[←]" {
    configfile /boot/grub/grub.cfg
}