# ╔════════════════════════════════════════╗
# ║     Gdisk v3.0 - Grub2 Multibooter     ║
# ║  Browse ~ Boot ~ iPXE ~ Live Systems   ║
# ╚════════════════════════════════════════╝

set gfxmode=800x600
set gfxpayload=keep
insmod video_cirrus
insmod video_bochs
insmod gfxterm
insmod png

terminal_output gfxterm

background_image -m stretch /boot/grub/theme/grub.png
set timeout=10
set default=0
set theme=/boot/grub/theme/theme.cfg
set color_normal=white/black
set color_highlight=white/black

configfile /boot/grub/gdisk.cfg
