# ╔════════════════════════════════════╗
# ║ Gdisk v3.1 - Multibooter Utiltity  ║
# ║ rEFInd ~ agFM ~ iPXE ~ ISO booter  ║
# ║ Vhd ~ img ~ Vtoy ~ WinPe ~ Linux   ║
# ║ Git: Github.com/GlitchLinux/Gdisk  ║
# ╚════════════════════════════════════╝

set gfxmode=auto
set gfxpayload=keep
insmod video_cirrus
insmod video_bochs
insmod gfxterm
insmod png

terminal_output gfxterm

background_image -m stretch /boot/grub/theme/grub.png
set theme=/boot/grub/theme/theme.cfg
set color_normal=white/black
set color_highlight=white/black

configfile /boot/grub/gdisk.cfg
