if loadfont /boot/grub/font.pf2 ; then
    set gfxmode=auto
    insmod gfxterm
    # For BIOS mode
    insmod video_bochs
    insmod video_cirrus
    # For UEFI mode
    #insmod efi_gop
    #insmod efi_uga
    terminal_output gfxterm
fi
insmod png
background_image -m stretch /boot/grub/theme/grub.png
set timeout=10
set default=0
set theme=/boot/grub/theme/theme.cfg

### Universal Boot Entries (Available in both BIOS and UEFI) ###

if [ "${grub_platform}" = "efi" ]; then
    menuentry "Local EFI Boot" {
        configfile /boot/grub/boot-local-efi.cfg
    }
fi

menuentry "Gdisk Info"{
  echo ""
  echo ""
  echo ""
  echo "" 
  echo ""
  echo Gdisk v3.0 - Portable Computing
  echo ""
  echo Forked Grub2 Multibooter Utility
  echo ""
  echo https://github.com/glitchlinux/gdisk.git
  echo ""
  echo Gdisk version: 3.0 - Maintainer: Glitch Linux
  echo ""
  echo Disclaimer: Gdisk comes with ABSOLUTELY NO WARRANTY
  sleep 30
  echo ""
  echo ""
  echo ""
  echo ""
  echo ""
}

menuentry "Shutdown" {
    halt
}

menuentry "Reboot" {
    reboot
}

menuentry "[←]" {
    configfile /boot/grub/grub.cfg
}