# ╔════════════════════════════════════════════════════╗
# ║  Gdisk - Dynamic WIM Boot Scanner                 ║
# ║  Auto-scans all partitions for .wim files          ║
# ║                                                    ║
# ║  UEFI: GrubFM wimboot module                      ║
# ║  BIOS: iPXE wimboot + WinPE bootmgr               ║
# ╚════════════════════════════════════════════════════╝

insmod regexp
insmod probe

if loadfont /boot/grub/font.pf2 ; then
    set gfxmode=auto
    insmod gfxterm
    terminal_output gfxterm
fi
insmod png
if [ -f /boot/grub/theme/grub.png ]; then
    background_image -m stretch /boot/grub/theme/grub.png
fi

set theme=/boot/grub/theme/theme-gdisk.cfg
set timeout=15
set default=0
set color_normal=white/black
set color_highlight=white/black

for disk in 0 1 2 3 4 5 6 7; do
    for partnum in 1 2 3 4 5 6 7 8; do
        for partscheme in gpt msdos; do
            set trypart="(hd${disk},${partscheme}${partnum})"

            if [ -d "${trypart}/" ]; then

                for wimfile in ${trypart}/*.wim ${trypart}/*.WIM; do
                    if [ -f "${wimfile}" ]; then
                        regexp --set=1:wim_path '^\([^)]+\)(.+)$' "${wimfile}"
                        regexp --set=1:wim_basename '/([^/]+)$' "${wim_path}"

                        if [ "${grub_platform}" = "efi" ]; then
                            menuentry "[UEFI] ${wim_basename}  [${trypart}]" "${wimfile}" {
                                insmod xzio
                                insmod wimboot
                                insmod loopback
                                set lang=en_US
                                terminal_output console
                                loopback wimboot /boot/grub/wimboot/wimboot.xz
                                wimboot --rawwim --testmode=no \
                                        @:bootmgfw.efi:(wimboot)/bootmgfw.efi \
                                        @:boot.wim:"${2}"
                            }
                        fi

                        if [ "${grub_platform}" = "pc" ]; then
                            menuentry "[BIOS] ${wim_basename}  [${trypart}]" "${wimfile}" {
                                set lang=en_US
                                terminal_output console
                                set enable_progress_indicator=1
                                linux16 /boot/grub/wimboot/wimboot
                                initrd16 \
                                    newc:bootmgr.exe:/boot/grub/wimboot/bootmgr.exe \
                                    newc:bcd:/boot/grub/wimboot/BCD \
                                    newc:boot.sdi:/boot/grub/wimboot/boot.sdi \
                                    newc:boot.wim:"${2}"
                                boot
                            }
                        fi
                    fi
                done

                for subdir in ${trypart}/*/; do
                    if [ -d "${subdir}" ]; then
                        for wimfile in ${subdir}*.wim ${subdir}*.WIM; do
                            if [ -f "${wimfile}" ]; then
                                regexp --set=1:wim_path '^\([^)]+\)(.+)$' "${wimfile}"
                                regexp --set=1:wim_basename '/([^/]+)$' "${wim_path}"

                                if [ "${grub_platform}" = "efi" ]; then
                                    menuentry "[UEFI] ${wim_basename}  [${trypart}]" "${wimfile}" {
                                        insmod xzio
                                        insmod wimboot
                                        insmod loopback
                                        set lang=en_US
                                        terminal_output console
                                        loopback wimboot /boot/grub/wimboot/wimboot.xz
                                        wimboot --rawwim --testmode=no \
                                                @:bootmgfw.efi:(wimboot)/bootmgfw.efi \
                                                @:boot.wim:"${2}"
                                    }
                                fi

                                if [ "${grub_platform}" = "pc" ]; then
                                    menuentry "[BIOS] ${wim_basename}  [${trypart}]" "${wimfile}" {
                                        set lang=en_US
                                        terminal_output console
                                        set enable_progress_indicator=1
                                        linux16 /boot/grub/wimboot/wimboot
                                        initrd16 \
                                            newc:bootmgr.exe:/boot/grub/wimboot/bootmgr.exe \
                                            newc:bcd:/boot/grub/wimboot/BCD \
                                            newc:boot.sdi:/boot/grub/wimboot/boot.sdi \
                                            newc:boot.wim:"${2}"
                                        boot
                                    }
                                fi
                            fi
                        done
                    fi
                done

            fi
        done
    done
done

menuentry "[<-] Back to Main Menu" {
    configfile /boot/grub/grub.cfg
}
