# ╔══════════════════════════════╗
# ║ WinPE ISO -  Gdisk v2.0 Boot ║
# ╚══════════════════════════════╝

set timeout=10
set default=0
set theme=/boot/grub/theme/theme.cfg
set color_normal=black/black
set color_highlight=black/black

set DISKGENIUS="/boot/grub/images/DiskGenius_v9.iso"

# ╔═══════════╗
# ║ UEFI BOOT ║
# ╚═══════════╝

if [ "${grub_platform}" = "efi" ]; then
    menuentry "Diskgenius WinPE [UEFI]" {
        map -f $DISKGENIUS        
    }
fi

# ╔═══════════╗
# ║ BIOS BOOT ║
# ╚═══════════╝


if [ "${grub_platform}" = "pc" ]; then
    menuentry "Diskgenius WinPE [BIOS]" {
        linux16 /boot/grub/images/memdisk iso
        initrd16 $DISKGENIUS
        boot
    }
fi
