# Gdisk Theme - 48pt Fonts (Large)

title-text: ""
title-font: "DejaVu Sans Bold 48"
title-color: "#FFFFFF"
desktop-color: "#000000"
desktop-image: "/boot/grub/theme/gdisk-usb.png"
message-font: "DejaVu Sans Regular 40"
message-color: "#FFFFFF"
message-bg-color: "#000000"
terminal-font: "DejaVu Sans Regular 36"

+ boot_menu {
  left = 30%
  top = 30%
  width = 60%
  height = 78%

  item_font = "DejaVu Sans Bold 48"
  item_color = "#FFFFFF"
  item_height = 32
  item_icon_space = 8
  item_spacing = 2

  selected_item_font = "DejaVu Sans Bold 48"
  selected_item_color= "#ff7038"

  icon_height = 32
  icon_width = 32

  scrollbar = false
  scrollbar_width = 20
  scrollbar_thumb = "slider_*.png"
}

+ vbox {
    top = 95%
    left = 2%
    + label {
        text = " "
        font = "DejaVu Sans Bold 36"
        color = "#ffffff"
        align = "center"
    }
}
