title-text: " GLITCH LINUX - LIVE BOOT"
title-font: "Sans Bold 28"
title-color: "#FFFFFF"
desktop-color: "#111111"
desktop-image: "/boot/grub/theme/glitch.png"
message-font: "Sans Regular 20"
message-color: "#FFFFFF"
message-bg-color: "#303030"
terminal-font: "Sans Regular 20"

+ boot_menu {
  left = 5%
  top = 40%
  width = 95%
  height = 70%

  item_font = "DejaVu Sans Bold 14"
  item_color = "grey"
  item_height = 32
  item_icon_space = 8
  item_spacing = 2

  selected_item_font = "DejaVu Sans Bold 14"
  selected_item_color= "#ffffff"
  # selected_item_pixmap_style = "select_*.png"

  icon_height = 32
  icon_width = 32

  scrollbar = false
  scrollbar_width = 20
  scrollbar_thumb = "slider_*.png"
}

+ progress_bar {
  id = "__timeout__"

  left = 5%
  top = 90%
  height = 5
  width = 58%

  # font = "DejaVu Sans Regular 14"

  # text_color = "#"
  fg_color = "#00ed45"

  bg_color = "#303030"
  border_color = "#000025"

  # instead of the above colors, use pixmaps
  # bar_style = "progress_bar_*.png"
  # highlight_style = "progress_highlight_*.png"

  # text = "@TIMEOUT_NOTIFICATION_LONG@"
}

# Footer information
+ vbox {
    top = 95%
    left = 2%
    + label {
        text = ""
        font = "DejaVu Sans Regular 14"
        color = "#242424"

    }
}
