# ╔════════════════════════════════════════╗
# ║     Gdisk v3.0 - Multiboot Utility     ║
# ║  rEFInd ~ agFM ~ iPXE ~ ISO Scanner    ║
# ║ Gdiskchain ~ Vtoy ~ WinPe ~ Linux-Live ║
# ╚════════════════════════════════════════╝

title-text: ""
title-font: "DejaVu Sans Bold 40"
title-color: "#FFFFFF"
desktop-color: "#000000"
desktop-image: "/boot/grub/theme/gdisk-usb.png"
message-font: "DejaVu Sans Regular 36"
message-color: "#FFFFFF"
message-bg-color: "#000000"
terminal-font: "DejaVu Sans Regular 32"

+ boot_menu {
  left = 20%
  top = 15%
  width = 70%
  height = 80%

  item_font = "DejaVu Sans Bold 40"
  item_color = "#FFFFFF"
  item_height = 50
  item_icon_space = 12
  item_spacing = 4

  selected_item_font = "DejaVu Sans Bold 40"
  selected_item_color= "#ff7038"
  # selected_item_pixmap_style = "select_*.png"

  icon_height = 40
  icon_width = 40

  scrollbar = false
  scrollbar_width = 24
  scrollbar_thumb = "slider_*.png"
}

# Footer information
+ vbox {
    top = 95%
    left = 2%
    + label {
        text = " "
        font = "DejaVu Sans Bold 32"
        color = "#ffffff"
        align = "center"
    }
}
